.orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.orderForm input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 6px;
  border: 1px solid #DDD;
  background: #FFF;
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input::-webkit-input-placeholder {
  color: var(--txt-grey, #8B8B8B);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}
.orderForm input::-moz-placeholder {
  color: var(--txt-grey, #8B8B8B);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}
.orderForm input:-ms-input-placeholder {
  color: var(--txt-grey, #8B8B8B);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}
.orderForm input::-ms-input-placeholder {
  color: var(--txt-grey, #8B8B8B);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}
.orderForm input::placeholder {
  color: var(--txt-grey, #8B8B8B);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}
.orderForm button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 6px;
  background: #393;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 600;
  border: none;
}
.orderForm .btnAktiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background: #FFF;
  color: #282828;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.modal {
  height: 30vh;
  width: 60vh;
  padding: 2vw;
  border-radius: 12px;
  background: rgba(51, 153, 51, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 12vh;
  right: 30vw;
}
.modal span {
  color: white;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 700;
}

.modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modalText h5 {
  color: var(--txt-white, #FFF);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}
.modalText p {
  color: var(--txt-white, #FFF);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */
}