@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}
.orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vh 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.orderForm input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
  border-radius: 6px;
  border: 1px solid #DDD;
  background: #FFF;
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input::-webkit-input-placeholder {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input::-moz-placeholder {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input:-ms-input-placeholder {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input::-ms-input-placeholder {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm input::placeholder {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 500;
}
.orderForm button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 6px;
  background: #393;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 600;
  border: none;
}
.orderForm .btnAktiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background: #FFF;
  color: #282828;
  text-align: center;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 600;
}

.modal {
  height: 30vh;
  width: 60vh;
  padding: 2vw;
  border-radius: 12px;
  background: rgba(51, 153, 51, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 12vh;
  right: 30vw;
}
.modal span {
  color: white;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 700;
}

.modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modalText h5 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 3vh;
  font-style: normal;
  font-weight: 600;
}
.modalText p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .orderForm {
    padding: 0;
  }
  .orderForm input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5vh 1vh;
    max-width: 30vw;
  }
  .orderForm button {
    padding: 0.5vh 1vh;
    font-size: 2vh;
  }
  .modal {
    height: 20vh;
    width: 70vw;
    top: 30vh;
    right: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    height: 20vh;
    width: 70vw;
    top: 530vh;
    right: 15vw;
  }
}