@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
}
.orderForm{
    display: flex;
    flex-direction: column;
    padding: 1vh 2vh;
    align-items: center;
    gap: 1vh;
    align-self: stretch;
    input{
        display: flex;
        padding: 1.5vh 3vh;
        align-items: center;
        gap: 1vh;
        border-radius:  6px;
        border: 1px solid  #DDD;
        background:  #FFF;
        color: #8B8B8B;
        font-family: Montserrat;
        font-size: 2vh;
        font-style: normal;
        font-weight: 500;
    }
    input::placeholder {
      color: #8B8B8B;
      font-family: Montserrat;
      font-size: 2vh;
      font-style: normal;
      font-weight: 500;
    }
    button{
      cursor: pointer;
        display: flex;
        padding: 1.5vh 3vh;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius:  6px;
        background: #393;
        color:  #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 2.3vh    ;
        font-style: normal;
        font-weight: 600;
        border: none;
    }

    .btnAktiv{
      display: flex;
      padding: 1.5vh 3vh;
justify-content: center;
align-items: center;
border-radius: 6px;
background: #FFF;
color:  #282828;
text-align: center;
font-family: Montserrat;
font-size: 2vh;
font-style: normal;
font-weight: 600;

    }
    
    }
    .modal{
      height: 30vh;
      width: 60vh;
      padding: 2vw;
      border-radius:  12px;
      background: rgba(51,153,51,0.9);
      position: absolute;
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      top: 12vh; 
      right: 30vw; 
      span{
        color: white;
        cursor: pointer;
        font-size: 2vw;
        font-weight: 700;
      }

    }

    .modalContent{
      display: flex;
      justify-content: space-between;
    }
    .modalText{
      display: flex;
     align-items: flex-start;
     justify-content: space-around;
      flex-direction: column;
      h5{
        color: #FFF;
        font-family: Montserrat;
        font-size: 3vh;
        font-style: normal;
        font-weight: 600;
      }
      p{
        color:  #FFF;
        font-family: Montserrat;
        font-size: 2vh;
        font-style: normal;
        font-weight: 600;
  
      }
    }

    @media screen and (max-width: 1024px){
      .orderForm{
        padding: 0;

      input{
        display: flex;
        padding: 0.5vh 1vh;
        max-width: 30vw;

    }
    button{
      padding: 0.5vh 1vh;
      font-size: 2vh;
    }

  }
  .modal{
    height: 20vh;
    width: 70vw;
    top: 30vh; 
    right: 20vw; 
  }
  }
  @media screen and (max-width: 768px){
    
    .modal{
      height: 20vh;
      width: 70vw;
      top: 530vh; 
      right: 15vw; 
    }
  }