@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
}
.discountForm{
    display: flex;
    flex-direction: column;
    padding: 0.8vw 2vw;
    align-items: center;
    gap: 1vw;
    input{
      background-color: #0B710B;
      color: #FFF;
      font-family: Montserrat;
      font-size: 1vw;
      font-style: normal;
      font-weight: 500;
      display: flex;
      padding:  0.8vw 2vw;
      align-items: center;
      gap: 1vw;
      align-self: stretch;
      border-radius: 6px;
    border: 1px solid  #FFF;
    
    }
    input::placeholder {
      color:  #FFF;
      font-family: Montserrat;
      font-size:1vw;
      font-style: normal;
      font-weight: 500;
    
    }
    button{
        color: #282828;
        text-align: center;
        font-family: Montserrat;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 600;
        padding: 0.8vw 6vw;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        border-radius: 6px;
        background:  #FFF;
        }
        

    }
    @media screen and (max-width: 1024px) {
      .discountForm {
    
        input {
          font-size: 1.5vw;
          padding: 1.5vw 3vw;
        }
        input::placeholder {
          font-size: 1.5vw;
        }
    
        button {
          font-size: 1.8vw;
          padding: 1.5vw 6vw;
        }
      }
    }
    
    @media screen and (max-width: 768px) {
      .discountForm {
    
        input {
          font-size: 3vw;
          padding: 2vw 4vw;
        }
        input::placeholder {
          font-size: 3vw;
        }
    
        button {
          font-size: 3vw;
          padding: 2vw 12vw;
        }
      }
    }
  