@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
}
.containerWithProductCounter{
    display: flex;
    flex-direction: row;
        h3{
            display: flex;
            width: 3vw;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
        }
        
      button{
            display: flex;
            width: 4vw;
            height: 4vw;
            font-size: 3vw;
            font-weight: 100;
            color: rgba(139, 139, 139, 1);
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            border: 1px solid  #DDD;
            cursor: pointer;
      }   
    }
   
    
    @media screen and (max-width: 1024px) {
    .containerWithProductCounter{
        h3 {
          max-width: 10vw;
        }
    
        button {
          max-width: 10vw;
          max-height: 10vw;
        }
      }
    }
      @media screen and (max-width: 768px) {
      .containerWithProductCounter {
        h3 {
           min-width: 10vw;
        }

        button {
       font-size: 8vw;
           min-width: 10vw;
            min-height: 10vw;
        }
    }
  }