@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-VariableFont_wght.ttf");
}
.headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 15vw 2vh 15vw;
  max-width: 100vw;
  max-height: 10vh;
}
.headerMain img {
  max-width: 30vw;
  height: auto;
}

.headerBasket {
  position: relative;
}
.headerBasket .cartItemsSummeSign {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2vw;
  height: 2vw;
  background-color: green;
  border-radius: 50%;
  top: -10%;
  left: -15%;
}
.headerBasket p {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.headerPContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3vw;
}
.headerPContainer p {
  color: #282828;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  -webkit-transition: font-size 0.3s ease, cursor 0.3s ease;
  transition: font-size 0.3s ease, cursor 0.3s ease;
}
.headerPContainer p:hover {
  font-size: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .headerMain {
    padding: 12vh 2vw; /* Изменено значение отступов для маленьких экранов */
  }
  .headerMain p {
    font-size: 14px; /* Изменено значение размера шрифта для маленьких экранов */
  }
  .headerMain p:hover {
    font-size: 16px; /* Изменено значение размера шрифта при наведении для маленьких экранов */
  }
  img {
    max-width: 90vw; /* Изменено значение максимальной ширины изображения для маленьких экранов */
  }
  .headerPContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}