
@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
  }
  
.contactMain{
display: inline-flex;
padding: 0vw 15vw 4vh 15vw;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 4vh;
}

.contactContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
gap: 3vh;
max-width: 68vw;
}
.contactPhone{
white-space: nowrap;
display: flex;
padding: 4vh;
flex-direction: column;
align-items: flex-start;
gap: 2vh;
flex: 1 0 0;
align-self: stretch;
border-radius:  12px;
background:  #F1F3F4;
}
.contactSocials {
display: flex;
min-width: 28vw;
padding: 4vh;
flex-direction: column;
align-items: flex-start;
gap: 2vh;
align-self: stretch;
border-radius:  12px;
background:  #F1F3F4;
  
}
.contactAdress {
display: flex;
padding: 4vh;
flex-direction: column;
align-items: flex-start;
gap: 2vh;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
background: #F1F3F4;
  
}
.contactsWorkingHours {
display: flex;
min-width: 28vw;
padding: 4vh;
flex-direction: column;
align-items: flex-start;
gap: 2vh;
align-self: stretch;
border-radius: 12px;
background: #F1F3F4;
}

.contactP{
color:  #8B8B8B;
font-family: Montserrat;
font-size: 1vw;
font-style: normal;
font-weight: 500;

}
.contactH1{
color:  #282828;
font-family: Montserrat;
font-size: 3.4vw;
font-style: normal;
font-weight: 700;
align-self: stretch;
}
.contactH2{
color:  #282828;
font-family: Montserrat;
font-size: 2vw;
font-style: normal;
font-weight: 600;

}
iframe{
    width: 68vw;
    height: 60vh;
    border: none;
}   
@media only screen and (max-width:1024px) {
    
        
        .contactH1{
            padding: 1vh;
            font-size: 6vw;
            
        }
        .contactH2{
            font-size: 3vw;
        }
        .contactSocials,
        .contactAdress,
        .contactsWorkingHours,
        .contactPhone{
            p{
                font-size: 2vw;
            }
            white-space:break-spaces;
            padding: 2vh;
            max-width: 30vw;
            align-items: flex-start;
            justify-content: flex-start;
        }
}


@media only screen and (max-width: 767px){
    
    .contactH1{
        padding: 1vh;
        font-size: 6vw;
        justify-content: center;
        display: flex;
    
    }
    .contactH2{
        font-size: 4vw;
    }
    .contactSocials,
    .contactAdress,
    .contactsWorkingHours,
    .contactPhone{
        p{
            font-size: 3vw;
        }
        white-space:break-spaces;
        padding: 1vh;
        max-width: 30vw;
        align-items: center;
        justify-content: flex-start;
    }
    
    iframe{
        width: 68vw;
        height: 30vh;
        border: none;
    }


}
