@font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-VariableFont_wght.ttf');    
}
.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content:  center;
    align-items: baseline;
    padding: 0 15vh 0 15vh;
        h1{
        color:  #282828;
        font-family: Montserrat;
        font-size: 4vw;
        font-style: normal;
        font-weight: 700;
        }
}
.continerMainProduct{
     display: flex;
            flex-direction: row;
            align-items: flex-start; 
            justify-content: center;
            flex-wrap: wrap;
            gap:3vh;
}
.containerWithProduct{
    display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20vw;
            min-height: 40vh;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid #DDD;
            
}

.priceContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2vw;
   
    h2{
        color: #282828;
        font-family: Montserrat;
        font-size: 2vw;
        font-style: normal;
        font-weight: 600;

    }

p{
    color: #282828;
    font-family: Montserrat;
    font-size: 1vw;
    font-style: normal;
    word-wrap:normal;
    font-weight: 500;
}
}

.titleAndPriceContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vh;
    h3{
        color: #8B8B8B;
        font-family: Montserrat;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 500;
    }


}
    
.containerWithImgAndBtn {
padding: 2vw;
border-bottom: 1px solid  #DDD;
display: flex;
justify-content: center;
align-items: center;


img {
    width: 15vw;
    height: auto;
    object-fit: cover;
    border-radius: 12px;

}

button{
    display: flex;
    max-width: 15vw;
    padding: 2vh 4vw;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #393;
    transition: background-color 0.3 ease,color 0.3 ease;
    cursor: pointer;
    position: absolute;
    color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 2vh;
font-style: normal;
font-weight: 600;

    
    }
    button:hover{
        background-color: #282828;
        color: #DDD;
    }


}

// .sortBtnAndInputsContainer{
// display: flex;
// flex-direction: row;

// justify-content: center;
// align-items: center;
// gap: 2vw;
// padding: 2vw;
// h4{
//     color: var(--txt-black, #282828);
// font-family: Montserrat;
// font-size: 20px;
// font-style: normal;
// font-weight: 600;

// }
// input{
//     color: #8B8B8B;
// font-family: Montserrat;
// font-size: 16px;
// font-style: normal;
// font-weight: 500;

//     display: flex;
// width: 112px;
// padding: 8px 16px;
// align-items: center;
// gap: 10px;
// border-radius: 6px;
// border: 1px solid #DDD;
// }


