@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-VariableFont_wght.ttf");
}
.mainHomePageDiv {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.mainHomePageDiv button {
  cursor: pointer;
}

.divWithLineAndButtonAllCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 0 2vh 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.divWithLineAndButtonAllCategories h2 {
  color: #282828;
  font-family: Montserrat;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 700;
}
.divWithLineAndButtonAllCategories button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1vw;
  padding: 1vh 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #DDD;
}

.line {
  width: 50vw;
  height: 1px;
  background-color: #DDDDDD;
}

.allCategoriesSmallButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #DDD;
}

.divWithCheckoutBtn {
  position: relative;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 99vw;
  height: 70vh;
}

.divWithCheckoutBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../assets/homepage/img1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 0 2vh 0;
}
.sale h2 {
  color: #282828;
  font-family: Montserrat;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 700;
  margin-right: 3vw;
}
.sale button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1vw;
  border-radius: 6px;
  border: 1px solid #DDD;
}

.buttonCheckOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7vw 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  background: #393;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
}

.h1HomePage {
  color: #FFF;
  font-family: Montserrat;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
}

.conteinerDiscountForm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2vw 6vw 0vw 6vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
  border-radius: 12px;
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
}
.conteinerDiscountForm h3 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.imgAndInputWithBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

del {
  color: black;
}

@media screen and (max-width: 1024px) {
  .imgAndInputWithBtn {
    max-width: 80vw;
    max-height: 30vh;
  }
  .imgAndInputWithBtn img {
    display: none;
  }
  .divWithLineAndButtonAllCategories button {
    font-size: 2vw;
  }
  .divWithLineAndButtonAllCategories h2 {
    font-size: 4vw;
  }
  .divWithCheckoutBtn {
    width: 99vw;
    height: 30vh;
  }
  h2 {
    font-size: 4vw;
  }
  .sale button {
    font-size: 2vw;
  }
  .sale h2 {
    font-size: 4vw;
    margin-right: 2vw;
  }
  .buttonCheckOut {
    font-size: 3vw;
    padding: 1vw 3vw;
  }
  .h1HomePage {
    font-size: 5vw;
  }
  .conteinerDiscountForm h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .imgAndInputWithBtn {
    max-width: 80vw;
    max-height: 25vh;
  }
  .imgAndInputWithBtn img {
    display: none;
  }
  .divWithLineAndButtonAllCategories button {
    font-size: 2vw;
  }
  .divWithLineAndButtonAllCategories h2 {
    font-size: 4vw;
  }
  .divWithCheckoutBtn {
    width: 99vw;
    height: 20vh;
  }
  h2 {
    font-size: 4vw;
  }
  .sale button {
    font-size: 2vw;
  }
  .sale h2 {
    font-size: 4vw;
    margin-right: 2vw;
  }
  .buttonCheckOut {
    font-size: 3vw;
    padding: 1vw 3vw;
  }
  .h1HomePage {
    font-size: 5vw;
  }
  .conteinerDiscountForm h3 {
    font-size: 5vw;
  }
}