

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
  }
  
  .checkBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
   

    label{
      display: flex;
      align-items: center;
      justify-content: center;
      color:  #282828;
      font-family: Montserrat;
      font-size:1vw;
      font-weight: 600;
    }
  }
  
  .chBoxNative{
  appearance: none;
  -webkit-appearance: none;

  }
  .chBoxCustom{
    display: inline-block;
    position: relative;
    width: 1.5vw;
    height:1.5vw;
    align-items: center;  
    border-radius: 6px;
    border: 1px solid  #DDD;
    margin-left: 1vw;
    cursor: pointer;

  }
  .chBoxCustom::before{
    content: ' ';

    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 6px;
    background-image: url(../../assets/checkbox/check\ box=active.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    margin-top: 1px;
    transition: 0.2 ease-in;
  }

  .chBoxNative:checked + .chBoxCustom::before{

    transform: translate(-50%,-50%) scale(1);
  }




  @media screen and (max-width: 1024px) {
    .chBoxCustom {
       
    border-radius: 3px;
      
    }
  
    .chBoxCustom::before {
       
      border-radius: 3px;
    }
    .checkBoxContainer {
  label{
    font-size: 2vw;
  }
}
  }

  

  @media screen and (max-width: 768px) {
    .chBoxCustom {
      width: 5vw;
    height: 5vw;
       
      border-radius: 1px;
        
      }
    
      .chBoxCustom::before {
        width: 5vw;
        height: 5vw;
        border-radius: 1px;
      }
      .checkBoxContainer {
     
    label{
      min-width: 80vw;
      font-size: 4vw;
      justify-content:start;
    }
  }
  }